In [1]:
import numpy as np
import pandas as pd
import torch,os

In [2]:
with open('D:/test/test719/datafile.csv','w') as f:
    f.write('a,b,c\n')
    f.write('A,01,NaN\n')
    f.write('B,02,1100\n')
    f.write('C,03,2300\n')
data = pd.read_csv('D:/test/test719/datafile.csv')
data

   a  b       c
0  A  1     NaN
1  B  2  1100.0
2  C  3  2300.0

In [3]:
data = data.fillna(data.iloc[1:3,2].mean())
data

   a  b       c
0  A  1  1700.0
1  B  2  1100.0
2  C  3  2300.0